.header-profile{
    border-bottom:1px solid var(--border-color);
    text-align: left;
    position: sticky;
    top: 0;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
}
.profile-image{
    width: auto;
}
.div-user-bio{
    display: flex;
    width: 100%;
}
.div-bio{
    text-align: left;
}
.profile-username{
    /* margin: 0; */
    padding:0;
}
.profile-image{
    width: 5rem;
    margin-right:0.5rem;
}
.div-tweet{
    text-align: left;
    margin-left:0.5rem;
}
.stacked-list{
    max-width: 100%;
    padding:0;
    height:100vh;
    border: none;
}
.follow-details{
    display:flex;
    justify-content: space-around;
    width: 100%;
}
.list-item{
    text-align: left;
}