.stack{
    display:flex;
    flex-direction: column;
  
}
.div-feed-card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom:1px solid var(--border-color);
   

 
}
.feed-card-details{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:1rem;
    margin-bottom: 1rem;
    width: 100%;
}
.user-status{
    text-align: left;
}
.username{
    margin-top:0;
    margin-bottom:0;
}
.user-actions{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;    
}
.div-vote{
    width: 4rem;
    display: flex;
    justify-content: space-evenly;

}
.vote-icon{
    cursor: pointer;
}