.navigation-sidebar{
    /* border:1px solid blue */

}
.nav-items{
    position:fixed;
    top:0;
    left:14rem;
    /* border:1px solid green */
}
.links-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.link-list-item{
    cursor:pointer;
}
.navbar-link{
    text-decoration: none;
    
}
@media screen and (max-width:1300px) {
    .navigation-sidebar{
        display: none;
    
    }
}

@media screen and (max-width:768px) {
    .navigation-sidebar{
        display: none;
    
    }
}